<p>您好, <%= @resource.email %>!</p>

<p>您当前要求了重设密码，您可以使用下面链接进行密码重设，请您马上进行操作，以免链接失效</p>

<p><%= link_to "更改密码", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>